<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" th:href="@{/app.css}" />

    <title>India</title>
    <title th:text="${country.name}">Countries</title>

</head>
<body>
<header>
    <div class="container">
        <h1><a href="/">Countries of the World</a></h1>
    </div>
</header>
<div class="container">
    <div class="country-details">
        <h2 th:text="${country.name}">name</h2>
        <div class="meta">
            <div class="stat">
                <h4>Population</h4>
                <span th:text="${country.population}">population</span>
            </div>
            <div class="stat">
                <h4>Capital</h4>
                <span th:text="${country.capitalCity}">capitalCity</span>
            </div>
            <div class="stat">
                <h4>Official Languages</h4>
                <ul>
                    <div th:each="lang : ${country.languages}">
                        <li th:text="${lang}">lang</li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="flag">
            <img th:src="@{'/flags/' + ${country.name.toLowerCase()} + '.png'}" alt="@{'Flags of ' + ${country.name}"/>
        </div>
    </div>
</div>
</body>
</html>