<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="app.css" />

    <title>Countries of the World</title>
</head>
<body>
<header>
    <div class="container">
        <h1><a href="index.html">Countries of the World</a></h1>
    </div>
</header>
<div class="container">
    <div class="country">
        <a href="india.html">
            <img src="flags/india.png" alt="Flag of India"/>
            <h4>India</h4>
        </a>
    </div>
    <div class="country">
        <a href="#">
            <img src="flags/kenya.png" alt="Flag of Kenya"/>
            <h4>Kenya</h4>
        </a>
    </div>
    <div class="country">
        <a href="#">
            <img src="flags/ecuador.png" alt="Flag of Ecuador"/>
            <h4>Ecuador</h4>
        </a>
    </div>
    <div class="country">
        <a href="#">
            <img src="flags/france.png" alt="Flag of France"/>
            <h4>France</h4>
        </a>
    </div>
    <div class="country">
        <a href="#">
            <img src="flags/italy.png" alt="Flag of Italy"/>
            <h4>Italy</h4>
        </a>
    </div>
</div>
</body>
</html>