<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/app.css}" />

    <title>Countries of the World</title>
</head>
<body>
<header>
    <div th:include="header :: header"></div>
</header>


<div class="container">
        <div class="country" th:each="country : ${countries}">
            <a th:href="@{'/countries/' + ${country.name}}">
                <img th:src="@{'/flags/' + ${country.name.toLowerCase()} + '.png'}" />
            </a>
        </div>

</div>
</body>
</html>